.social {
  li {
    display: inline-block;
    margin-right: 10px;

    a {
      svg {
        width: 24px;
        height: 24px;
        fill: $primary;
      }
    }

    &:hover {
      .tooltip-content {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .tooltip-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
  }
}