body.contact-form {
  .main-content {
    padding-top: 5rem;
  }

  .page-header {
    text-align: center;
  }

  .contact-form {
    max-width: 900px;
    margin: 0 auto;

    h3 {
      display: none;
    }
  }
}