.unit-special {
  padding: 6rem 0;
  background: hsl(220, 43%, 97%);


  @media screen and (max-width: 767px) {
    padding: 3rem 0;
  }

  @media screen and (max-width: 575px) {
    padding: 2rem 0;
  }

  h2 {
    color: $primary;
    font-weight: 600;
    font-size: 2.875rem;
    margin-bottom: 3rem;

    @media screen and (max-width: 767px) {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    @media screen and (max-width: 575px) {
      font-size: 1.5rem;
    }

    small {
      display: block;
      color: $dark;
      font-weight: 400;
      font-size: 1.25rem;

      @media screen and (max-width: 575px) {
        font-size: 1rem;
      }
    }
  }

  .filter {
    margin-bottom: 4rem;

    ul {
      padding: 0;
      list-style: none;
      text-align: center;
      white-space: nowrap;
      overflow-x: auto;
    
      li {
        display: inline-block;
    
        a {
          position: relative;
          color: #0f4b81;
          font-size: 0.875rem;
          display: block;
          padding: 5px 12px;
          background: #fff;
          margin: 0 10px;
          transition: 0.2s;
    
          @media screen and (max-width: 575px) {
            margin: 0 5px 0 0;
          }

          &.is-active {
            color: #fff;
            background: #0f4b81;
          }
    
          &:hover {
            box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  
  .loading-overlay .loading-background {
    background: rgba(245, 247, 251, 0.5);
  }
  
  .unit {
    &-column {
      margin-bottom: 2rem;
    }
  }
}