@font-face {
    font-family: 'DB Ramintra X';
    src: url('DBRamintraX-Bold.woff2') format('woff2'),
        url('DBRamintraX-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Ramintra X';
    src: url('DBRamintraX.woff2') format('woff2'),
        url('DBRamintraX.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

